<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; COMP-229 (Midterm) All Rights Reserved.</h4>
  </div>
</nav>
<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script>
  var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html>